@* <div class="row">
    <!-- Main Sidebar -->
    <div class="col-md-3">
        <div class="list-group">
            <a href="#profile" class="list-group-item list-group-item-action active" data-bs-toggle="list">
                Profile
            </a>
            <a href="#general" class="list-group-item list-group-item-action" data-bs-toggle="list">
                General
            </a>
        </div>
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
        <div class="tab-content">
            <!-- Profile Section -->
            <div class="tab-pane fade show active" id="profile">
                <h5>Profile Settings</h5>
                <form>
                    <!-- Profile Form Content -->
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter your username">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="bio" class="form-label">Bio</label>
                        <textarea class="form-control" id="bio" rows="3" placeholder="Tell us something about yourself"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>

            <!-- General Section -->
            <div class="tab-pane fade" id="general">
                <div class="row">
                    <!-- Nested Sidebar -->
                    <div class="col-md-3">
                        <div class="list-group">
                            <a id="MeasurementUnitLink" href="#aMeasurementUnits" class="list-group-item list-group-item-action active" data-bs-toggle="list">
                                Measurement Units
                            </a>
                            <a href="#aProdutCategory" class="list-group-item list-group-item-action" data-bs-toggle="list">
                                Product Category
                            </a>
                            <a href="#aProductBrand" class="list-group-item list-group-item-action" data-bs-toggle="list">
                                Product Brand
                            </a>
                        </div>
                    </div>

                    <!-- Nested Content -->
                    <div class="col-md-9">
                        <div class="tab-content">
                            <!-- Measurement Unit -->
                            <div class="tab-pane fade show active" id="aMeasurementUnits">
                                <h5>Measurement Units</h5>
                                <div id="MeasurementUnitDiv" class="tabData"></div>
                            </div>

                            <!-- Product Category -->
                            <div class="tab-pane fade" id="aProdutCategory">
                                <h5>Product Category</h5>
                                <div id="ProdutCategoryDiv" class="tabData"></div>
                            </div>

                            <!-- Product Brand -->
                            <div class="tab-pane fade" id="aProductBrand">
                                <h5>Product Brand</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@


<div class="row">
    <div class="col-md-3">
        <div class="d-flex flex-column p-3 bg-light">
            <h4 class="mb-3">Settings</h4>
            <ul class="nav nav-pills flex-column mb-auto">
                <!-- Profile Section -->
                <li class="nav-item">
                    <a href="" id="profile" class="nav-link active" data-bs-toggle="tab">
                        <i class="bi bi-person-circle"></i> Profile
                    </a>
                </li>

                <!-- General Section -->
                <li class="nav-item">
                    <div class="nav-link" id="generalLink" role="button">
                        <i class="bi bi-gear"></i> General
                    </div>
                    <ul class="nav flex-column ms-3 mt-1 collapse" id="generalMenu">
                        <li class="nav-item">
                            <a href="" id="aMeasurementUnits" class="nav-link general-item" data-bs-toggle="tab">
                                <i class="bi bi-rulers"></i> Measurement Units
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" id="aProdutCategory" class="nav-link general-item" data-bs-toggle="tab">
                                <i class="bi bi-tags"></i> Product Category
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" id="aProductBrand" class="nav-link general-item" data-bs-toggle="tab">
                                <i class="bi bi-briefcase"></i> Product Brand
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Add more main sections as needed -->
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <div id="SettingContent" class="tabData"></div>
    </div>
</div>

<script>
    document.querySelectorAll('.nav-link').forEach(function (link) {
        link.addEventListener('click', function (event) {
            // Check if this link is a parent with child items
            const isParentWithChildren = this.nextElementSibling && this.nextElementSibling.classList.contains('collapse');

            // Handle parent item clicks
            if (isParentWithChildren) {
                // Toggle the visibility of the child menu
                const childMenu = this.nextElementSibling;
                const isExpanded = childMenu.classList.contains('show');

                // Collapse all other child menus
                document.querySelectorAll('.nav.flex-column.ms-3.mt-1').forEach(function (menu) {
                    if (menu !== childMenu) {
                        menu.classList.remove('show');
                        menu.classList.add('collapse');
                    }
                });

                // Toggle the clicked child menu
                childMenu.classList.toggle('collapse', isExpanded);
                childMenu.classList.toggle('show', !isExpanded);

                // Optionally, remove the "disabled" class to indicate it's active
                this.classList.remove('disabled');
            } else {
                // Deactivate all nav links
                document.querySelectorAll('.nav-link').forEach(function (link) {
                    link.classList.remove('active');
                });

                // Activate the clicked link
                this.classList.add('active');
            }
        });
    });
</script>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<script>




    $(document).ready(function () {


        // $.get('/MeasureUnits/Index', function (data) {

        //     $('.tabData').html('');
        //     $('#SettingContent').html(data);
        // });



        $('#aMeasurementUnits').click(function (e) {
            e.preventDefault();
            $('.tabData').html('');
            $.get('/MeasureUnits/Index', function (data) {
                $('#SettingContent').html(data);
            });
        });
        $('#aProdutCategory').click(function (e) {
            e.preventDefault();
            $('.tabData').html('');
            $.get('/ProductCategories/Index', function (data) {
                $('#SettingContent').html(data);
            });
        });

        // $.get('/ProductCategories/Index', function (data) {
        //     $('#ProdutCategoryDiv').html(data);
        // });

        //$('.tabData').html('');
    });
</script>
