@model IEnumerable<TradingApp.Models.MeasureUnit>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<p>
    <a href="#" id="createButton">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Create" asp-route-id="@item.Id">Edit</a> |
                    <a href="#" class="deleteRecordLink" data-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#createButton').click(function (e) {
            e.preventDefault();
            $('.tabData').html('');
            $.get('/MeasureUnits/Create', function (data) {
                $('#SettingContent').html(data);
            });
        });

        $('.deleteRecordLink').click(function (e) {
            e.preventDefault();
            $('.tabData').html('');
            var recordId = $(this).data('id');

            $.get('/MeasureUnits/Delete/' + recordId, function (data) {
                $('#SettingContent').html(data);
            });
        });
    });
</script>