html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*Table CSS*/

table.resizable-table th {
    position: relative;
}

    table.resizable-table th::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 3px;
        cursor: col-resize;
    }

    table.resizable-table th:hover::after {
        background: #999;
    }



.table td, .table th {
    vertical-align: middle; /* This will center align vertically */
}



/*table header fix*/



.table thead th {
    position: sticky;
    top: 0; 
    z-index: 60;
    background: #f8f9fa;
   
}

/* Optional: Add a shadow for better visibility */
.table thead th {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

/*table header fix*/


/*Fix Action Button Header*/
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 50; /* Ensure it stays above other elements */
    background-color: white; /* Matches the background */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for visual separation */
}
/*Fix Action Button Header*/

