html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*Table CSS*/

table.resizable-table th {
    position: relative;
    cursor: col-resize;
}

    table.resizable-table th::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background: #ccc;
        cursor: col-resize;
    }

    table.resizable-table th:hover::after {
        background: #999;
    }



.table td, .table th {
    vertical-align: middle; /* This will center align vertically */
}



/*table header fix*/



.table thead th {
    position: sticky; /* Make the header sticky */
    top: 0; /* Set top position */
    z-index: 10; /* Ensure it stays above the table content */
    background: #f8f9fa; /* Match the Bootstrap header color */
}

/* Optional: Add a shadow for better visibility */
.table thead th {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

/*table header fix*/
